<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item mt-3">
        <a class="nav-link" href="{% url 'home' %}">Accueil</a>
      </li>
      <li class="nav-item mt-3">
        <a class="nav-link" href="{% url 'gaz_function' %}">Production du Gaz biométhane</a>
      </li>
      <li class="nav-item mt-3">
        <a class="nav-link" href="{% url 'electricity_function' %}">Consommation d'Elecricité</a>
      </li>
      <li class="nav-item mt-3">
          <a class="nav-link" href="{% url 'gazCombine_function' %}">Consommation de Gaz par les centrales à cylce combiné</a>
        </li>
    </ul>
  </div>
</nav>